/* funzioni reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
}

.slider {
    width: 600px;
    height: 300px;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    /* justify-content: center;
    align-items: center; */

    border: 3px solid red;
}

img {
    width: 100%;
}
